@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&family=League+Spartan:wght@500;700&family=Overpass:ital,wght@0,400;0,700;1,400&family=Pacifico&family=Poppins:wght@400;700;800&family=Quicksand:wght@400;500;700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
}

img{
    width:20px;
}

.unshow{
    display:none;
}

.show{
    display:block;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    position:fixed;
    background:#fff;
    z-index:4;
    width:100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);


    > div{
        display:flex;
        align-items: center;
        justify-content:center;
        position: relative;
        z-index: 1;

        img{
            width:20px;
        }
    
        .close{
            width:15px;
            position: absolute;
            left:0;
            display:none;
        }

        div{
            margin:0 10px;
            cursor:pointer;
            font-size:15px;

            h1{
                font-family: 'Pacifico', cursive;
            }
            
        }
    }

   


    label{
        display: flex;
        align-items: center;
        justify-content:flex-end;
        width:40%;
        // border:2px solid red;

        input{
            padding:10px 20px;
            font-size: 16px;
            border:1px solid #ccc;
            border-radius: 50px;
            outline:none;
            width:100%;
            height:30px;
        }
    }
}

nav{
    height: 100vh;
    width:100%;
    list-style: none;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.55); 
    position: fixed;
    top:0;
    z-index: 3;
    transform: translateX(-100%);

    ul{
        background-color: #fff;
        width:70%;
        height:90vh;
        padding:90px 20px 10px;

        li{
            margin:5px 0 10px;
            padding:10px 0;
            list-style: none;
            transition:transform .40s;

            :hover{
                transform:scale(1.05)
            }
            a{
                width:100%;
                display:flex;
                justify-content:flex-start;
                align-items:center;
                text-decoration:none;
                padding:10px;
                border-radius:5px;
                
                img{
                    width:25px;
                    margin:0 15px 0 0;
                }

                p{
                    text-transform: capitalize;
                    color:red;
                }
            }           
        }

    }

    ul:last-child{
        display:flex;
        justify-content:flex-start;
        align-items: flex-end;
        height:8vh;

        li:hover{
            transform:scale(1.1);
        }

        li{
            transition:transform .3s;
        }
    }
    
}

.slide{
    transform: translateX(0);
    transition: transform .5s ease-in-out;
}

.homepage{

    padding:100px 20px 20px;

    > div{
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin:10px 0 20px;
        padding:0 0 10px;

        p{
            margin:0 0 5px;
            font-size:18px;
            padding:0 10px;
        }

        p:first-child{
            background-color:red;
            color:white;
            padding:10px;
            font-size:20px;
            border-radius: 6px 6px 0 0;
        }
    
    }

    > aside{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;

        > div{
            width:100%;
            margin:20px 0 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding:10px 10px 25px;
            border-radius: 10px;
            
            

            img{
                width:40px;
            }

            aside{
                display:flex;
                justify-content: flex-start;
                align-items: center;
                margin:5px 0 10px;

                span{
                    padding:10px;
                    border-radius:20px;
                }
                .Heart{
                    background-color: rgba(255, 0, 0, 0.308);
                    color:red;
                }
                .Temperature{
                    background-color: rgba(0, 0, 255, 0.471);
                    color:blue;
                }
                .Glucose{
                    background-color: rgba(255, 255, 0, 0.469);
                    color:yellow;
                }

                p{
                    margin:0 0 0 10px;
                    font-size:20px;
                    font-weight: bold;
                }

            }

            h3{
                font-size:30px;
                margin:10px 0;
            }

            p{
                font-size:19px;
            }

        }


        .Pressures{
            background-color:rgba(0, 0, 255, 0.678);
            color:white;

            aside{
                span{
                    background-color: rgba(255, 0, 0, 0.275)
                }
            }
        }
    }
}

.more{
    border:2px solid red;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin:20px 0 0 10px;
    text-decoration: none;
    width:130px;
    padding:5px 10px;
    border-radius: 30px;

    img{
        width:15px;
        margin:0 0 0 5px;
    }
}

.route {
    h3 {
        margin: 10px 10px;
    }
}

.user{
    padding:120px 20px 20px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;

    h2{
        width:100%;
        text-align:center;
        color:blue;
        margin:10px 0 40px;
    }

    aside{
        margin:30px 0 40px;
        width:100%;
        position: relative; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding:10px;

        img{
            width:80px;
            border-radius: 50%;
            position: absolute;
            top:-40px;
        }

        h3{
            padding:50px 10px 10px;
            font-size:25px;
        }

        p{
            padding:0 10px;
            font-size:20px;
            margin:5px 0;
        }
    }
}

.error404{
    widtH:100%;
    height:100vh;
    background-color:rgb(0, 0, 0);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    position:absolute;
    top:0;
    z-index:6;

    h1{
        font-size:120px;
        color:red;
    }
    h2{
        font-size:40px;
        color:red;
    }
    a{
        text-decoration: none;
        color:white;
        font-size:20px;
        margin:20px;
        padding:10px 20px;
        border:2px solid red;
        border-radius: 50px;
        animation:lighten 3s infinite;
        background-color: red;
        font-weight: bold;
    }
}
.loading{
    width:100%;
    height:50vh;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    
    span{
        font-size:80px;
        font-weight:bold;
        position:relative;
        background:black;
        display:block;
        justify-content:center;
        align-items:center;
        margin:0 40px;
        height:10px;
        animation:spin 1s infinite;
        transition:transform 2s ease-in;
    }

}

@keyframes spin{
    0%{
        transform:rotate(360deg);
    }
}

@keyframes lighten{
    0%{
        color:pink;
    }
    50%{
        color:orange;
    }
    100%{
        color:white;
    }
}

.pagination{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px 0;
    padding:10px 0;
    width:100%;

    li{
        list-style: none;
        margin:0 4px;
        border:2px solid lightgrey;
        padding:5px;
        cursor: pointer;
    }
}
.postPage{
    padding:100px 20px 20px;

    h2{
        color:blue;
        text-transform:uppercase;
        margin:10px 0;
    }

     ul > li{
        list-style: none;
        margin:10px 0;
        text-transform:capitalize;
        border:2px solid lightgrey;
        padding:10px 5px;
        cursor: pointer;
        border-radius: 5px;
    }

    .pagination li{
       margin:3px; 
    }
}

.active{
    background-color:black;
    color:white;
    padding:10px 5px;

    img{
        background:#fff;
        padding:2px;
        border-radius:5px;
    }

    p{
        color:white;
    }
}

.errorFallBack{
    position:absolute;
    top:0;
    z-index: 8;
    width:100%;
    height:100vh;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    color:white;
    font-weight:bold;

    h1{
        font-size:28px;
        text-transform: uppercase;
    }

    p{
        font-size:20px;
        text-transform: capitalize;
    }

    a{
        color:white;
        text-decoration:none;
        border:2px solid red;
        border-radius:50px;
        padding:10px;
        margin:10px 0;
    }
}

.front{
    z-index:5;
    position:absolute;
    top:0;
    width:100%;
    // border:2px solid red;
    height:100vh;
    overflow:hidden;

    aside{
        width:100%;
        height:20vh;
        background:orange;
        outline:none;
        border:none;
        font-family: 'Pacifico', cursive;
        animation:slidOutRight 3.3s 7s linear;
        display:flex;
        justify-content:center;
        align-items:center;


        h1{
            font-size:30px;
            color:white;
            text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
            font-family: 'Pacifico', cursive;
            animation:slidIn 3s linear;
        }
    }

    aside:nth-child(3){
        animation:slidOutLeft 3.3s 7s linear; 
    }
}

@keyframes slidIn{
    0%{
        transform:translateX(-100%) scale(1.7);
    }
    100%{
        transform:translateX(0%) scale(1);
    }
}


@keyframes slidOutRight{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(-100%);
    }
}

@keyframes slidOutLeft{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(100%);
    }
}

@media screen and (min-width:768px){

    header{
        img{
            display:none;
        }
        .show{
            display:none;
        }
    }

    nav{
        transform:translateX(0);
        width:10%;
        padding:0;
        background:#fff;

        ul{
            width:80%;
            border:none;
            background:lightgrey;
            margin:10px;
            outline:none;
            height:70vh;
            padding:30px 0;
            margin-top:90px;
            border-radius:80px;

            li{
                display:flex;
                justify-content:center;
                align-items:center;
                width:100%;
            }

            .a{

                img{
                    width:25px;
                    margin:5px 10px;
                }

                p{
                    display:none;
                }
            }
        }

        ul:last-child{
            flex-direction:column;
            height:30vh;
            margin-top:0;
            width:80%;
            justify-content:center;

            li{
                margin:0;
            }
        }

    }

    .active{
        background-color:rgba(0, 0, 0, 0.225);
        color:white;
        padding:5px 5px;
        border-radius:5px;
    
        img{
            border-radius:5px;
            padding:0;
            background:transparent;
        }
    
        p{
            color:white;
        }
    }

    .homepage{
        padding:90px 10px 20px 100px;

        > div{
            margin:10px 10px;
        }

       > aside{
            padding:0;
            justify-content:space-around;

            > div{
                width:46%;
                min-height:350px;
                margin:15px 10px 10px;
                padding:10px 20px;
            }
        }
    }
    .user{
        padding:100px 10px 20px 100px;
        justify-content:space-around;

        aside{
            width:47%;

            .email{
                max-width:100%;
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
            }
        }
    }
    .postPage{
        padding:90px 20px 20px 100px;
    }
}

@media screen and (min-width:1000px){

    nav{
        transform:translateX(0);
        width:90px;
    }

    .homepage{
        padding:90px 10px 20px 110px;

        > div{
            margin:10px 10px;
            p{
                margin:20px 0;
            }
            a{
                margin:40px 10px 5px;
            }
        }

       > aside{
            padding:0;
            justify-content:space-between;

            > div{
                width:48%;
                min-height:250px;
            }
        }
    }
    .user{

        aside{
            width:30%;
        }
    }
    .postPage{
        padding:90px 20px 20px 120px;
        text-align:center;
        
        ul{
            display:flex;
            justify-content:space-around;
            align-items:center;
            flex-wrap:wrap;
            
            li{
                width:45%;
                text-align:left;
            }
            // border:2px solid red;
        }

        ul:last-child{
            justify-content:center;

            li{
                width:auto;
            }
        }
    }
}